.bigphoto-section {
    display: flex;
}

h3 {
    margin: 48px 0;
    /* margin-top: 48px; */
}

.text-block {
    padding: 18px;
}

.photo {
    max-width: 935px;
}

.button {
    text-align: center;
}

h1 {
    font-size: 65px;
}

h3 {
    font-size: 24px;
}